In [1]:
import numpy as np
import pandas as pd

## Conjuntos 
Del modelo de optimización

| **Término**  | **Descripción**                |
|--------------|--------------------------------|
| $cacopios$   | Conjunto de centros de acopio  |
| $clientes$   | Conjunto de clientes           |
| $productos$  | Conjunto de productos          |

In [2]:
cacopios = 'CAcopios'
clientes = 'Clientes'
productos = 'Productos'

In [3]:
csv_base = './csv/'

routes = {
    # Capacidades de centros de acopio
    'cic': 'CapInvCA.csv',
    'cictest': 'CapInvCAtest.csv',
    # Costo de inventario del centro de acopio
    'cia' : 'CostoInvCA.csv',
    'ciatest' : 'CostoInvCAtest.csv',
    # Costo de transporte del centro de acopio al cliente
    'ctac' : 'CostoTransCAClie.csv',
    'ctactest' : 'CostoTransCAClietest.csv'
}

csv_config = {
    'delimiter' : ';',
    'decimal' : ','
}

## Centros de acopio

In [4]:
# cacopios_df = pd.read_csv(csv_base + cacopios + '.csv')
cacopios_df = pd.read_csv(csv_base + cacopios + 'test' + '.csv')
cacopios_df

             CAcopios
0  San Juan del Cesar
1            Riohacha
2              Maicao

## Clientes

In [5]:
# clientes_df = pd.read_csv(csv_base + clientes + '.csv')
clientes_df = pd.read_csv(csv_base + clientes + 'test' + '.csv')
clientes_df

        Clientes
0  Distribuidor1
1  Distribuidor2

## Productos

In [6]:
productos_df = pd.read_csv(csv_base + productos + '.csv')
productos_df.head()

      Productos
0    Queso duro
1  Queso blando

### Capacidades 
Obteniendo las capacidades de cada centro de acopio

In [7]:
# cap_df = pd.read_csv(csv_base + routes['cic'], **csv_config)
cap_df = pd.read_csv(csv_base + routes['cictest'], **csv_config)
cap_df

             CAcopios     Productos  CapInvCA
0  San Juan del Cesar    Queso duro        50
1  San Juan del Cesar  Queso blando       320
2            Riohacha    Queso duro       100
3            Riohacha  Queso blando        90
4              Maicao    Queso duro        10
5              Maicao  Queso blando         0

### Costos de Inventario
$$
  CInventario_t = \sum_{j \in J} \sum_{p \in P} CostoInvAcopio_{pjt} InvCA_{pjt} \qquad \forall_t \in T
$$

In [8]:
# cia_df = pd.read_csv(csv_base + routes['cia'], **csv_config)
cia_df = pd.read_csv(csv_base + routes['ciatest'], **csv_config)
cia_df.head()

             CAcopios     Productos  CostoInvCA
0  San Juan del Cesar    Queso duro        1000
1  San Juan del Cesar  Queso blando        1500
2            Riohacha    Queso duro        2000
3            Riohacha  Queso blando         800
4              Maicao    Queso duro        5000

### Costos de Transporte
$$
  CTransporte_t = \sum_{k \in K} \sum_{j \in J} \sum_{p \in P} CostoTransAcopioClie_{pjkt} \qquad \forall_t \in T
$$

In [9]:
# ctac_df = pd.read_csv(csv_base + routes['ctac'], **csv_config)
ctac_df = pd.read_csv(csv_base + routes['ctactest'], **csv_config)
ctac_df.head()

             CAcopios       Clientes  CostoTransCAClie
0  San Juan del Cesar  Distribuidor1              5000
1  San Juan del Cesar  Distribuidor2             38000
2            Riohacha  Distribuidor1              5000
3            Riohacha  Distribuidor2             15000
4              Maicao  Distribuidor1              5000

## Esquema de representación
Se recibe la demanda $DemandaClie_{pkt}$ como parámetro de entrada.

Se representa la cantidad $n$ de centros de acopio como un vector, donde se asigna una cantidad $x_i$ para cada centro de acopio $j_i$, la cantidad asignada representa la demanda que va a ser suplida por ese centro de acopio.
$$
\begin{array} {|r|r|r|r|r|r|}
    \hline x_0 & x_1 & x_2 & x_3 & \cdots & x_n \\
    \hline
\end{array}
\quad \therefore \quad x_i = AC_{pjkt}
$$
Donde se aplican las restricciones:
$$
\begin{align*}
    \sum_{i=0}^{n} x_i &= DemandaClie_{pkt} \\
    x_i &\leq InvCA_{pjt}
\end{align*}
$$

# Escenarios de prueba
Tomando demandas por cada centro de acopio, se definen distintos escenarios de posibles casos.

**Escenario 1**: Un centro de acopio sobrepasa la demanda del cliente
- El modelo puede asignar dicho centro de acopio para suplir con la demanda
- El centro de acopio debe proveer esa demanda

**Escenario 2**: Ningún centro de acopio cumple con toda la demanda del cliente
- El modelo debe dar una solución de varios centros de acopio
- La suma de la demanda por cada centro de acopio debe ser igual a la demanda

**Escenario 3**: Un centro de acopio tiene en stock exactamente la cantidad de la demanda de un cliente.
- El modelo puede tomar el centro de acopio que tiene en stock exactamente la demanda a cumplir

### Demandas
Generando demandas para cada cliente, se usarán como entrada para el modelo

In [27]:
demanda = 120
cap_queso = cap_df[cap_df[productos] == 'Queso duro']
bounds = tuple((0, x_i) for x_i in cap_queso['CapInvCA'])

## Función objetivo
$$
Min(F) = CInventario + CTransporte
$$

In [11]:
# F(x)
def f(x):
    delta = 0

    for idx in range(x.shape[0]):
        ca = cacopios_df.loc[idx]

        if x[idx] == 0.:
            continue

        # Costos de Inventario
        costo_inv_ca = cia_df[(cia_df[cacopios] == ca[cacopios]) & (cia_df[productos] == 'Queso duro')]
        # Costos de Transporte
        costo_trans_ca = ctac_df[(ctac_df[cacopios] == ca[cacopios]) & (ctac_df[clientes] == 'Distribuidor1')]

        delta += x[idx] * costo_inv_ca['CostoInvCA'].values[0]
        delta += np.array(costo_trans_ca['CostoTransCAClie'].values[0])
    
    return delta

## scipy

**LinearConstraint**: $ lb \leq A \cdot v[x] \leq ub $

**NonLinearConstraint**: $ lb \leq g(x) \leq ub $

In [55]:
c = tuple(idx for (_, idx) in bounds)
Aeq = np.ones((1, len(c)))
beq = 1

In [72]:
from scipy.optimize import linprog
# from scipy.optimize import differential_evolution

result = linprog(
    c,
    A_ub=Aeq,
    b_ub=beq,
    bounds=bounds,
    method='highs',
    integrality=1
)
print(result)

       message: Optimization terminated successfully. (HiGHS Status 7: Optimal)
       success: True
        status: 0
           fun: 0.0
             x: [ 0.000e+00  0.000e+00  0.000e+00]
           nit: -1
         lower:  residual: [ 0.000e+00  0.000e+00  0.000e+00]
                marginals: [ 0.000e+00  0.000e+00  0.000e+00]
         upper:  residual: [ 5.000e+01  1.000e+02  1.000e+01]
                marginals: [ 0.000e+00  0.000e+00  0.000e+00]
         eqlin:  residual: []
                marginals: []
       ineqlin:  residual: [ 1.000e+00]
                marginals: [ 0.000e+00]

## pymoo

In [28]:
from pymoo.core.problem import ElementwiseProblem

xl = np.zeros(cacopios_df.shape)
xu = np.asarray([b for _, b in bounds])

class Queso(ElementwiseProblem):
    def __init__(self):
        super().__init__(
            n_var=len(xl),
            n_obj=1,
            # n_eq_constr=1,
            n_ieq_constr=1,
            xl=0,
            xu=xu,
            vtype=int
        )
        
    def _evaluate(self, x, out, *args, **kwargs):
        out['F'] = f(x)
        out['G'] = demanda - np.sum(x)
        # out['H'] = demanda - np.sum(x)

In [29]:
from pymoo.algorithms.soo.nonconvex.ga import GA
from pymoo.optimize import minimize
from pymoo.termination import get_termination

problem = Queso()

algorithm = GA(
    pop_size=9,
    eliminate_duplicates=True
)

termination = get_termination('time', '00:00:05')

res = minimize(problem,
               algorithm,
               termination,
               seed=1,
               verbose=False)

print(f'F: {res.F}, \nX: {res.X}')

F: [200187.39029581],
X: [49.95628312 70.11555359  0.        ]