In [63]:
import numpy as np
import pandas as pd

## Conjuntos 
Del modelo de optimización

| **Término**  | **Descripción**                |
|--------------|--------------------------------|
| $cacopios$   | Conjunto de centros de acopio  |
| $clientes$   | Conjunto de clientes           |
| $productos$  | Conjunto de productos          |

In [64]:
cacopios = 'CAcopios'
clientes = 'Clientes'
productos = 'Productos'

In [65]:
csv_base = './csv/'

routes = {
    # Capacidades de centros de acopio
    'cic': 'CapInvCA.csv',
    'cictest': 'CapInvCAtest.csv',
    # Costo de inventario del centro de acopio
    'cia' : 'CostoInvCA.csv',
    'ciatest' : 'CostoInvCAtest.csv',
    # Costo de transporte del centro de acopio al cliente
    'ctac' : 'CostoTransCAClie.csv',
    'ctactest' : 'CostoTransCAClietest.csv'
}

csv_config = {
    'delimiter' : ';',
    'decimal' : ','
}

## Centros de acopio

In [66]:
cacopios_df = pd.read_csv(csv_base + cacopios + 'test' + '.csv')
cacopios_df

             CAcopios
0  San Juan del Cesar
1            Riohacha
2              Maicao

## Clientes

In [67]:
clientes_df = pd.read_csv(csv_base + clientes + 'test' + '.csv')
clientes_df

        Clientes
0  Distribuidor1
1  Distribuidor2

## Productos

In [68]:
productos_df = pd.read_csv(csv_base + productos + '.csv')
productos_df.head()

      Productos
0    Queso duro
1  Queso blando

# Escenarios de prueba
Tomando demandas por cada centro de acopio, se definen distintos escenarios de posibles casos.

**Escenario 1**: Un centro de acopio sobrepasa la demanda del cliente
- El modelo puede asignar dicho centro de acopio para suplir con la demanda
- El centro de acopio debe proveer esa demanda

**Escenario 2**: Ningún centro de acopio cumple con toda la demanda del cliente
- El modelo debe dar una solución de varios centros de acopio
- La suma de la demanda por cada centro de acopio debe ser igual a la demanda

**Escenario 3**: Un centro de acopio tiene en stock exactamente la cantidad de la demanda de un cliente.
- El modelo puede tomar el centro de acopio que tiene en stock exactamente la demanda a cumplir

### Demandas
Generando demandas para cada cliente, se usarán como entrada para el modelo

In [69]:
demanda_clientes = clientes_df[clientes].drop_duplicates()

demandas = []

for client in demanda_clientes:
    demandas.append(20 * np.random.randint(10))

demanda_clientes = pd.DataFrame(demanda_clientes)

demanda_clientes['Demanda'] = pd.DataFrame(demandas)
demanda_clientes

        Clientes  Demanda
0  Distribuidor1       80
1  Distribuidor2      100

### Capacidades 
Obteniendo las capacidades de cada centro de acopio

In [70]:
cap_df = pd.read_csv(csv_base + routes['cictest'], **csv_config)

cap_df

             CAcopios     Productos  CapInvCA
0  San Juan del Cesar    Queso duro        50
1  San Juan del Cesar  Queso blando       320
2            Riohacha    Queso duro        60
3            Riohacha  Queso blando        90
4              Maicao    Queso duro       100
5              Maicao  Queso blando         0

#### Costos de Inventario
$$
  CInventario_t = \sum_{j \in J} \sum_{p \in P} CostoInvAcopio_{pjt} InvCA_{pjt} \qquad \forall_t \in T
$$

In [71]:
cia_df = pd.read_csv(csv_base + routes['ciatest'], **csv_config)
cia_df.head()

             CAcopios     Productos  CostoInvCA
0  San Juan del Cesar    Queso duro        1000
1  San Juan del Cesar  Queso blando        1500
2            Riohacha    Queso duro         500
3            Riohacha  Queso blando         800
4              Maicao    Queso duro         900

#### Costos de Transporte
$$
  CTransporte_t = \sum_{k \in K} \sum_{j \in J} \sum_{p \in P} CostoTransAcopioClie_{pjkt} \qquad \forall_t \in T
$$

In [72]:
ctac_df = pd.read_csv(csv_base + routes['ctactest'], **csv_config)
ctac_df.head()

             CAcopios       Clientes  CostoTransCAClie
0  San Juan del Cesar  Distribuidor1             68000
1  San Juan del Cesar  Distribuidor2             38000
2            Riohacha  Distribuidor1             21000
3            Riohacha  Distribuidor2             15000
4              Maicao  Distribuidor1             99000

## Esquema de representación
Se recibe la demanda $DemandaClie_{pkt}$ como parámetro de entrada.

Se representa la cantidad $n$ de centros de acopio como un vector, donde se asigna una cantidad $x_i$ para cada centro de acopio $J_i$, la cantidad asignada representa la demanda que va a ser suplida por ese centro de acopio.
$$
\begin{array} {|r|r|r|r|r|r|}
    \hline x_0 & x_1 & x_2 & x_3 & \cdots & x_n \\
    \hline
\end{array}
\quad \therefore \quad x_i = AC_{pjkt}
$$
Donde se aplican las restricciones:
$$
\begin{align*}
    \sum_{i=0}^{n} x_i &= DemandaClie_{pkt} \\
    x_i &\leq InvCA_{pjt}
\end{align*}
$$

In [73]:
X = np.zeros(cacopios_df.shape)
# Se toma la primera demanda como parámetro de entrada
demanda = demanda_clientes.loc[0, 'Demanda']

cap_queso = cap_df[cap_df[productos] == 'Queso duro']

for i in range(X.shape[0]):
    rand = np.random.randint(demanda)
    cap = cap_df.loc[i, 'CapInvCA']
        
    if i == X.size - 1 and demanda != 0:
        X[i] = demanda
        demanda -= demanda
    else:
        if rand > cap:
            X[i] = cap
            demanda -= cap
        else:
            X[i] = rand
            demanda -= rand
    
suma_demanda = X.sum()
    
# print(X)
# print(f'Suma de la distribución: {suma_demanda}')

### Cálculo de costos en función objetivo

In [74]:
# Esta función calcula los costos por cada centro de acopio, y los anexa al nombre del centro de acopio, no es necesario mantenerla debido a que este cálculo se hace en la función objetivo, se eliminará pronto

def costos():
    sum_costos_ca = []

    for costo in range(X.shape[0]):
        ca = cacopios_df.loc[costo]
        delta = 0
        
        if X[costo] == 0:
            sum_costos_ca.append((ca.tolist()[0], 0.))
            continue
    
        costo_inv_ca = cia_df[(cia_df[cacopios] == ca[cacopios]) & (cia_df[productos] == 'Queso duro')]
        costo_trans_ca = ctac_df[(ctac_df[cacopios] == ca[cacopios]) & (ctac_df[clientes] == 'Distribuidor1')]
    
        delta += X[costo] * costo_inv_ca['CostoInvCA']
        delta += np.array(costo_trans_ca['CostoTransCAClie'])
    
        sum_costos_ca.append((ca.tolist()[0], delta.tolist()[0]))
        
    return sum_costos_ca

## Función objetivo
$$
Min(F) = CInventario + CTransporte
$$

In [156]:
# F(x)
def f(x):
    delta = 0
    # print(f'{x} -> Suma: {x.sum()}')

    for idx in range(x.shape[0]):
        ca = cacopios_df.loc[idx]

        if x[idx] == 0.:
            continue

        # Costos de Inventario
        costo_inv_ca = cia_df[(cia_df[cacopios] == ca[cacopios]) & (cia_df[productos] == 'Queso duro')]
        # Costos de Transporte
        costo_trans_ca = ctac_df[(ctac_df[cacopios] == ca[cacopios]) & (ctac_df[clientes] == 'Distribuidor1')]

        delta += x[idx] * costo_inv_ca['CostoInvCA'].values[0]
        delta += np.array(costo_trans_ca['CostoTransCAClie'].values[0])
    
    # if np.round(x.sum()) != suma_demanda:
    #     delta *= 2
    
    return delta

print(f'Costo: {f(X)}')

Costo: [254200.]

## scipy

**LinearConstraint**: $ lb \leq A*v[x] \leq ub $

**NonLinearConstraint**: $ lb \leq g(x) \leq ub $

In [157]:
from scipy.optimize import LinearConstraint
from scipy.optimize import NonlinearConstraint

cons = {'constraints': LinearConstraint(np.ones(X.shape[0]), suma_demanda, suma_demanda)}

g = lambda x : x.sum()
non_cons = {'constraints': NonlinearConstraint(g, suma_demanda, suma_demanda)}

In [158]:
from scipy.optimize import dual_annealing
# from scipy.optimize import differential_evolution

bounds = [(0, x_i) for x_i in cap_queso['CapInvCA']]
x0 = [x[0] for x in X]

In [159]:
result = dual_annealing(
    f,
    bounds=bounds,
    minimizer_kwargs=cons,
    # maxiter=200,
    x0=np.array(x0)
)
print(result)

 message: ['Maximum number of iteration reached']
 success: True
  status: 0
     fun: 188000.2642195216
       x: [ 7.767e-05  1.344e-04  1.326e-04]
     nit: 1000
    nfev: 9611
    njev: 900
    nhev: 0

In [164]:
from pymoo.core.problem import ElementwiseProblem

xu = np.asarray([b for _, b in bounds])

class Queso(ElementwiseProblem):
    def __init__(self):
        super().__init__(
            n_var=len(x0),
            n_obj=1,
            n_eq_constr=1,
            # n_ieq_constr=1,
            xl=0,
            xu=xu,
            vtype=int
        )
        
    def _evaluate(self, x, out, *args, **kwargs):
        out['F'] = f(X)
        out['H'] = suma_demanda - (np.sum(x))

problem = Queso()

In [165]:
from pymoo.algorithms.soo.nonconvex.ga import GA
from pymoo.optimize import minimize

algorithm = GA(
    pop_size=100,
    eliminate_duplicates=True
)

res = minimize(problem,
               algorithm,
               seed=1,
               verbose=True)

=================================================================================
n_gen  |  n_eval  |     cv_min    |     cv_avg    |     f_avg     |     f_min
=================================================================================
     1 |      100 |  0.1231220684 |  3.749666E+01 |             - |             -
     2 |      200 |  0.1231220684 |  1.372719E+01 |             - |             -
     3 |      300 |  0.1231220684 |  7.4636389482 |             - |             -
     4 |      400 |  0.1140847452 |  3.8834761885 |             - |             -
     5 |      500 |  0.0013370196 |  1.9472008873 |             - |             -
     6 |      600 |  0.0013370196 |  1.2868988746 |             - |             -
     7 |      700 |  0.0013370196 |  0.8386537792 |             - |             -
     8 |      800 |  0.0013370196 |  0.5892792720 |             - |             -
     9 |      900 |  0.0013370196 |  0.4554472989 |             - |             -
    10 |     1000 |  0.0013370196 |  0.3524700515 |             - |             -
    11 |     1100 |  0.0013370196 |  0.3067622629 |             - |             -
    12 |     1200 |  0.0013370196 |  0.2776789880 |             - |             -
    13 |     1300 |  0.0013370196 |  0.2417829640 |             - |             -
    14 |     1400 |  0.0013370196 |  0.2027005317 |             - |             -
    15 |     1500 |  0.0006274502 |  0.1805697750 |             - |             -
    16 |     1600 |  0.0006274502 |  0.1476300866 |             - |             -
    17 |     1700 |  0.0006274502 |  0.1245329362 |             - |             -
    18 |     1800 |  0.0006274502 |  0.1077293471 |             - |             -
    19 |     1900 |  0.0006274502 |  0.0871056946 |             - |             -
    20 |     2000 |  0.0006274502 |  0.0683942980 |             - |             -
    21 |     2100 |  0.0006274502 |  0.0563529119 |             - |             -
    22 |     2200 |  0.0006274502 |  0.0418947752 |             - |             -
    23 |     2300 |  0.0006274502 |  0.0358707376 |             - |             -
    24 |     2400 |  0.0006274502 |  0.0283863767 |             - |             -
    25 |     2500 |  0.0006274502 |  0.0241475194 |             - |             -
    26 |     2600 |  0.0006274502 |  0.0202002753 |             - |             -
    27 |     2700 |  0.0004027170 |  0.0172127536 |             - |             -
    28 |     2800 |  0.0004027170 |  0.0135488035 |             - |             -
    29 |     2900 |  0.0004027170 |  0.0116838522 |             - |             -
    30 |     3000 |  0.0004027170 |  0.0107180775 |             - |             -
    31 |     3100 |  0.0004027170 |  0.0091378719 |             - |             -
    32 |     3200 |  0.0004027170 |  0.0078849989 |             - |             -
    33 |     3300 |  0.0001902997 |  0.0058518658 |             - |             -
    34 |     3400 |  0.0001902997 |  0.0045590577 |             - |             -
    35 |     3500 |  0.0001902997 |  0.0038744516 |             - |             -
    36 |     3600 |  0.000000E+00 |  0.0030031771 |  2.542000E+05 |  2.542000E+05
    37 |     3700 |  0.000000E+00 |  0.0022647613 |  2.542000E+05 |  2.542000E+05
    38 |     3800 |  0.000000E+00 |  0.0019524017 |  2.542000E+05 |  2.542000E+05
    39 |     3900 |  0.000000E+00 |  0.0017887236 |  2.542000E+05 |  2.542000E+05
    40 |     4000 |  0.000000E+00 |  0.0013464929 |  2.542000E+05 |  2.542000E+05
    41 |     4100 |  0.000000E+00 |  0.0010666595 |  2.542000E+05 |  2.542000E+05
    42 |     4200 |  0.000000E+00 |  0.0008710224 |  2.542000E+05 |  2.542000E+05
    43 |     4300 |  0.000000E+00 |  0.0006234087 |  2.542000E+05 |  2.542000E+05
    44 |     4400 |  0.000000E+00 |  0.0005179166 |  2.542000E+05 |  2.542000E+05
    45 |     4500 |  0.000000E+00 |  0.0004037994 |  2.542000E+05 |  2.542000E+05
    46 |     4600 |  0.000000E+00 |  0.0002977992 |  2.542000E+05 |  2.542000E+05
    47 |     4700 |  0.000000E+00 |  0.0002481916 |  2.542000E+05 |  2.542000E+05
    48 |     4800 |  0.000000E+00 |  0.0002027164 |  2.542000E+05 |  2.542000E+05
    49 |     4900 |  0.000000E+00 |  0.0001619635 |  2.542000E+05 |  2.542000E+05
    50 |     5000 |  0.000000E+00 |  0.0001420189 |  2.542000E+05 |  2.542000E+05
    51 |     5100 |  0.000000E+00 |  0.0001062782 |  2.542000E+05 |  2.542000E+05
    52 |     5200 |  0.000000E+00 |  0.0000858223 |  2.542000E+05 |  2.542000E+05
    53 |     5300 |  0.000000E+00 |  0.0000682632 |  2.542000E+05 |  2.542000E+05
    54 |     5400 |  0.000000E+00 |  0.0000518480 |  2.542000E+05 |  2.542000E+05
    55 |     5500 |  0.000000E+00 |  0.0000233852 |  2.542000E+05 |  2.542000E+05
    56 |     5600 |  0.000000E+00 |  8.811715E-06 |  2.542000E+05 |  2.542000E+05
    57 |     5700 |  0.000000E+00 |  1.131904E-06 |  2.542000E+05 |  2.542000E+05
    58 |     5800 |  0.000000E+00 |  0.000000E+00 |  2.542000E+05 |  2.542000E+05
    59 |     5900 |  0.000000E+00 |  0.000000E+00 |  2.542000E+05 |  2.542000E+05
    60 |     6000 |  0.000000E+00 |  0.000000E+00 |  2.542000E+05 |  2.542000E+05
    61 |     6100 |  0.000000E+00 |  0.000000E+00 |  2.542000E+05 |  2.542000E+05
    62 |     6200 |  0.000000E+00 |  0.000000E+00 |  2.542000E+05 |  2.542000E+05
    63 |     6300 |  0.000000E+00 |  0.000000E+00 |  2.542000E+05 |  2.542000E+05
    64 |     6400 |  0.000000E+00 |  0.000000E+00 |  2.542000E+05 |  2.542000E+05
    65 |     6500 |  0.000000E+00 |  0.000000E+00 |  2.542000E+05 |  2.542000E+05
    66 |     6600 |  0.000000E+00 |  0.000000E+00 |  2.542000E+05 |  2.542000E+05

In [166]:
res.X

array([45.15314918, 34.76151805,  0.08525385])